html {
height: 100%;
max-height: 100%;
overflow: hidden;
padding: 0;
margin: 0;
border: 0;
background: #ccf;
font-size: 76%;
font-family:arial, helvetica, times new roman, serif;
}

body {
height: 100%;
max-height: 100%;
overflow: hidden;
padding: 0;
margin: 0;
border: 0;
}

#content {
padding: 10px;
overflow:auto;
position:absolute;
z-index:3;
top:98px;
bottom:44px;
left:0;
right:0;
background:#fff;
width:98%;
}

* html #content {
top:0;
left:0;
right:0;
bottom:0;
height:100%;
max-height:90%;
width:98%;
overflow:auto;
position:absolute;
border-top:98px solid #fff;
border-bottom:44px solid #fff;

}

#head {
position:absolute;
margin:0;
top:0;
left:0;
display:block;
width:100%;
height:98px;
background-color: #fff;
background-image: url('../images/head.png');
font-size:4em;
z-index:5;
overflow:hidden;
color:#fff;
}

#foot {
position:absolute;
margin:0;
bottom:0;
left:0;
display:block;
width:100%;
height:44px;
background-color: #fff;
background-image: url('../images/foot.jpg');
font-size:1em;
z-index:5;
overflow:hidden;
color:#330;
text-align: right;
}
