#header
{
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	background-image: url('../images/head.png');
	height: 98px;
	width: 100%;
}

#footer
{
	position: fixed;
	z-index: 2;
	left: 0;
	bottom: 0;
	background-image: url('../images/foot.jpg');
	height: 44px;
	width: 100%;
}

#whole
{
	width: 100%;
	height: 100%;
	overflow: auto;
	position: relative;
	z-index: 2;
	text-align: center;
}

#container1
{
	width: 100%;
	margin: 0 auto;
	position: absolute;
	z-index: 1;
	margin-top: 100px;
	text-align: left;
}

html, body
{
	margin: 0;
	padding: 0;
	background-color: #F8F8F8;
	overflow: hidden;
	height: 100%;
	font-family: Verdana, arial, helvetica, sans-serif;
}

div.tab-panes
{
	clear: both;
}

h1
{
	padding-top: 12px;
	padding-left: 30px;
	margin-bottom: 0px;
	margin-top: 0px;
	background-image: url('../images/h1titulo.jpg');
	height: 40px;
	color: #ffffff;
	font-weight: normal;
	font-size: 22px;
	font-family: Verdana, arial, helvetica, sans-serif; 
}

#tab_info
{
	background-image: url('../images/ic_info.gif');
	background-repeat: no-repeat;
}

#tab_login
{
	background-image: url('../images/ic_login.gif');
	background-repeat: no-repeat;
}

#tab_network
{
	background-image: url('../images/ic_network.gif');
	background-repeat: no-repeat;
}

#tab_printers
{
	background-image: url('../images/ic_printers.gif');
	background-repeat: no-repeat;
}

#tab_date
{
	background-image: url('../images/ic_date.gif');
	background-repeat: no-repeat;
}

#tab_services
{
	background-image: url('../images/ic_services.gif');
	background-repeat: no-repeat;
}

#tab_screen
{
	background-image: url('../images/ic_screen.gif');
	background-repeat: no-repeat;
}

#tab_misc
{
	background-image: url('../images/ic_misc.gif');
	background-repeat: no-repeat;
}

#tab_storage
{
	background-image: url('../images/ic_storage.gif');
	background-repeat: no-repeat;
}

#tab_logistic
{
	background-image: url('../images/ic_logistic.gif');
	background-repeat: no-repeat;
}

#tab_passwords
{
	background-image: url('../images/ic_passwords.gif');
	background-repeat: no-repeat;
}

label
{
	width: 45%;
	display: block;
	float: left;
	text-align: right;
	margin-right: 22px;
}

div.ctables
{
	margin: 0 40px;
	background-image: url('../images/table.gif');
	background-position: bottom right;
	padding-bottom: 4px;
	padding-right: 4px;
}
div.ctables table
{
	width: 100%;
}
div.ctables th
{
	background-image: url('../images/th.gif');
	height: 29px;
	font-family: verdana;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	color: #4B6478;
	padding-left: 4px;
	padding-bottom: 0px;
	padding-top: 0px;
}
div.ctables td
{
	background-image: url('../images/td.gif');
	height: 29px;
	font-family: verdana;
	font-size: 12px;
	text-align: left;
	color: #4B6478;
	padding-left: 4px;
	padding-bottom: 0px;
	padding-top: 0px;
}

div.ctablesinfo
{
	margin: 0 40px;
}
div.ctablesinfo table
{
	width: 100%;
}
div.ctablesinfo th
{
	background-image: url('../images/th.gif');
	height: 29px;
	font-family: verdana;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	color: #4B6478;
	padding-left: 4px;
	padding-bottom: 0px;
	padding-top: 0px;
}
div.ctablesinfo td
{
	background-image: url('../images/td.gif');
	height: 29px;
	font-family: verdana;
	font-size: 12px;
	text-align: left;
	color: #4B6478;
	padding-left: 4px;
	padding-bottom: 0px;
	padding-top: 0px;
}

div.ctables th.infospan
{
	background-image: url('../images/thinfo.gif');
	height: 29px;
	font-family: verdana;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	color: #ffffff;
	padding-left: 4px;
	padding-bottom: 0px;
	padding-top: 0px;
}

div.ctables th.info
{
text-align: right;
}

fieldset label
{
        width: 12%;
        float: none;
        display: inline;
        text-align: right;
        margin-right: 5px;
        font-family: verdana;
        font-size: 11px;
}

fieldset legend
{
        font-family: verdana;
        font-size: 13px;
}

fieldset
{
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 15px;
        padding-bottom: 5px;
}

fieldset.minifieldset
{
	width: 29%;
	float: left;
	text-align: right;
}

fieldset.minifieldset label
{
	width: 50%;
}

.clear
{
	clear: both;
}

button.deleteprinter
{
        background: none;
        margin: 0;
        padding: 0;
}

div.buttons
{
        text-align: left;
        margin-left: 0;
        width: 35%;
        display: inline;

}

div.buttons button
{
        margin-left: 5px;
}

div.aviso
{
        padding-top: 25px;
        padding-bottom: 10px;
        text-align:center;

}
div.aviso div
{
        margin-left: auto;
        margin-right: auto;
        width: 478px;
        height: 129px;
        background-image: url('../images/avisos.png');
        background-repeat: no-repeat;
}

div.aviso div span
{
        text-align: left;
        padding-top: 21px;
        padding-left: 80px;
        padding-right: 15px;
        display: block;
        font-weight: bold;
}


div.avisook
{
        padding-top: 25px;
        padding-bottom: 10px;
        text-align:center;
                   
}
div.avisook div
{
        margin-left: auto;
        margin-right: auto;
        width: 478px;
        height: 129px;
        background-image: url('../images/avisosok.png');
        background-repeat: no-repeat;
}
                                                                        
div.avisook div span
{
        text-align: left;
        padding-top: 21px;
        padding-left: 80px;
        padding-right: 15px;
        display: block;
        font-weight: bold;
}

div.avisowarn
{
	padding-top: 25px;
	padding-bottom: 10px;
	text-align:center;
}
 

div.avisowarn div
{
	margin-left: auto;
	margin-right: auto;
	width: 478px;
	height: 129px;
	background-image: url('../images/avisoswarning.png');
	background-repeat: no-repeat;
	
}

div.avisowarn div span
{
	text-align: left;
	padding-top: 21px;
	padding-left: 80px;
	padding-right: 15px;
	display: block;
	font-weight: bold;
}



.cinfol
{
	width: 40%;
	float: left;
	margin-top: 10px;
}

.cinfor
{
	width: 52%;
	float: right;
	margin-top: 10px;
}

.cinfol th.infot, .cinfor th.infot
{
	background: none;
	font-family: verdana;
	font-size: 12px;
}

.infofooter
{
	width: 100%;
	clear: both;
}
