.tabs {
margin: 0; 
padding: 0; 
overflow: hidden;
padding-left: 6px;
}
.tabs li {
display: inline;
}
.tabs li a span {
text-decoration: underline;
}
.tabs a {
height: 22px !important;
display: block;
float: left;
background-color: #E5E8E8; 
font-size: 10px; 
color: #013568; 
font-family: Verdana, arial, helvetica, sans-serif; 
text-decoration: none; 
padding-top: 4px;
padding-right: 4px;
padding-left: 25px;
margin-left: 2px;
border-top: 1px solid #92A7BA;
border-left: 1px solid #92A7BA;
border-right: 1px solid #92A7BA;
border-bottom: 1px solid #ffffff;
}
.tabs a.tab-visited {
background-color:#6898d0; 
border-right: 1px solid #fff;
font-size: 10px; 
color: #fff; 
font-family: Verdana, arial, helvetica, sans-serif; 
text-decoration: none; 
}
.tabs a:hover {
background-color: #CFDCE4; 
font-size: 10px; 
color: #013568; 
font-family: Verdana, arial, helvetica, sans-serif; 
text-decoration: none; 
}  
.tabs a.tab-active {
background-color: #CFDCE4; 
font-size: 10px; 
color: #013568; 
font-family: Verdana, arial, helvetica, sans-serif; 
text-decoration: none; 
border-bottom: 1px solid #CFDCE4;
}
.tab-panes { 
width: 98%;
margin-left: 8px;
margin-right: 8px;
} 
.divmsg {
display: inline;
}
.divtabs {
padding-left: 1px;
background-image: url('../images/fondotabs.jpg');
background-position: right bottom;
padding-right: 2px;
border-left: 1px solid #92A7BA;
font-size: 12px; 
font-weight: normal; 
color: #2a2a2a; 
font-family: Verdana, arial, helvetica, sans-serif; 
text-decoration: none; 
}
input, textarea {
background-image: url('../images/input.gif');
color: #000; 
font-family: Verdana, arial, helvetica, sans-serif; 
font-size: 12px;
border: 0;
padding-left: 2px;
width: 150px;
margin-right: 5px;
}
.inputp {
width:40px;
}
.inputancho {
width:150px;
}
.inputancho2 {
width:250px;
}
.inputlogistic {
width:90px;
}
textarea {
width: 90%;
height: 50px;
}
input:disabled {
background-image: url('../images/inputd.gif');
}
input.check {
width: 14px;
}

button {
background-image: url('../images/button.gif');
background-position: right bottom;
color: #000; 
border: 0;
height: 26px;
margin-left: 45%;
}

button:disabled {
background-image: url('../images/button_off.gif');
background-position: right bottom;
color: #666;
border: 0;
height: 26px;
margin-left: 45%;
}

.divcnt5 {
margin-top: 0px;
padding-top: 3px;
padding-bottom: 4px;
background-image: url('../images/h2titulo.png');
}
.contbout {
font-size: 14px;
font-weight: bold;
color: #ffffff;
padding-left: 20px;
font-family: verdana, arial, helvetica, sans-serif;
text-decoration: none;
}
.comentario
{
        font-style:italic;
}
.comentario a
{
	color: #013568;
	text-decoration: none;
}
