[Desktop Entry]
Type=Application
Name=Fórmulas Matemáticas
Exec=/usr/lib/libreoffice/program/sdraw
MimeType=application/vnd.oasis.opendocument.formula;application/vnd.oasis.opendocument.formula-template;
